body {
	background-color: #EEEEEE;
	height:100%;
  width:100%;
}

img {
	height: 100%;
	width: 100%;
}

.top-bar .name {
  overflow: hidden;
}

.fullbleed {
  z-index:10;
  position:relative;
  margin-top:-45px;
  width: 100%;
  height: calc(100% + 45px);
  /*background-image: url('../img/retrofix_day.jpg');*/
  background-position: center center;
  background-repeat: no-repeat;
}

.container{
  padding-top:45px;
  height:100%;
}
